<div class="content-container col-md-6 col-center">
  <div>
    <h2 class="page-title">以下の内容で送信する</h2>
  </div>

  <%= form_with(model: @picture, url: pictures_path, local: true) do |f| %>
    <%= f.hidden_field :image_cache %>
    <%= f.hidden_field :content %>
    <div class="form-groups col-md-6 col-center">
      <div class="form-group">
        <%= image_tag @picture.image.url(:thumb) if @picture.image.url %>
      </div>

      <div class="form-group">
        <%= @picture.content %>
      </div>
    </div>

    <div class="submit-button">
      <%= f.submit '投稿', class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= form_with(model: @picture, url: new_picture_path, method: :get, local: true) do |f| %>
    <%= f.hidden_field :image_cache %>
    <%= f.hidden_field :content %>
    <div class="back-button">
      <%= f.submit '戻る', name: 'back', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>